.react-flow__node.state {
    border-radius: 90px;
    border: #000;
    border-style: solid;
    border-width: 1px;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000;
    background: #fff;
  }

  .react-flow__node.transition {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    background: black;
  }

  .react-flow__node.group {
    border-radius: 6px;
    border: #f00;
    border-style: dashed;
    border-width: 1px;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
    color: #000;
    background: rgba(255, 0, 0, 0.2);
  }